# Framework e extensões
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-JWT-Extended==4.6.0
Flask-Mail==0.10.0
Flasgger==0.9.7.1

# Banco de Dados e Tarefas Assíncronas
psycopg-binary==3.2.9
SQLAlchemy==2.0.42
Celery==5.4.0
redis==5.0.7

# Outras utilidades
WeasyPrint==62.3
python-dotenv==1.0.1
gunicorn==22.0.0  # Adicionado: Servidor WSGI para produção
